/*
Location Style Sheet
Author: Dillon Viilo
Date: 06/14/2020

A simple style sheet that turns the background
black and the text white. Index HTML causes it to shrink
with the screen if necessary.
*/

.location{
    background-color: black;
    color: white;
    display: flex;
}

.location h4{
    padding: 1em;
}